.scan {
    font-size: 17px;
    background: rgb(92, 88, 82);
    display: inline;
    position: relative;
    color: white;
}

.com {
    font-size: 18px;
    display: inline-block;
    padding: 5px 0;
    position: relative;
}

.com:before {
    content: '';
    background: rgb(21, 14, 7);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.com:hover {
    background-position: 0;
}

.com:hover::before {
    width: 100%;
}
